/llvm-3.0.tar.gz
/clang-3.0.tar.gz
/clang-3.1.src.tar.gz
/llvm-3.1.src.tar.gz
/llvm-3.2-R600-tstellar-git-b53ed46.patch.gz
/llvm-3.2.src.tar.gz
/clang-3.2.src.tar.gz
/R600-Mesa-9.1.patch.gz
/clang-20130507.tar.xz
/compiler-rt-20130507.tar.xz
/llvm-20130507.tar.xz
/cfe-3.3rc2-source.tar.gz
/llvm-3.3rc2-source.tar.gz
/cfe-source-3.3rc3.tar.gz
/llvm-source-3.3rc3.tar.gz
